body {
  background: url(https://source.unsplash.com/random);
  background-position: center center;
  background-size: cover;
  height: 100vh;
}

.center-container {
  width: 350px;
  margin: auto;
}

.circular-image {
  background-color: white;
  border-radius: 100%;
  height: 120px;
  width: 120px;
}

.circular-image img {
  width: 80px;
  margin-top: 15px;
}

.margin-auto {
  margin: 50px auto;
}

.container-data, .container-data-week {
  background-color: #efebec;
  border-radius: 5px;
  padding: 1em;
  margin: 1em 0;
}

.container-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-data img {
  width: 25%;
}

.container-data-week h3, .container-data-week p {
  display: inline-block;
}

.container-data-week h3 {
  font-size: 1.5rem;
}

.container-data-week img {
  width: 15%;
  margin-right: 2.5em;
}

